@charset "utf-8";

#header {
    padding:0;
    margin-top: 20px;
}

h1 {
    color: #293239;
    text-align: center;
    font-family: inherit;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: wheat;
    border: 0;
}

body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    background-image: url("/assets/images/1.jpg");
}

.container {
    border: 3px solid silver;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-image: url("/assets/images/2.jpg");
}

input {
    border: 0;
    font-family: inherit;
    font-size: 100%;
}

#text-box{
    border: 2px solid silver;
    background-color: white;
    border-radius: 5px;
    margin: 15px 0;
}

/* input box */
.myBox {
    border: 3px solid silver;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: scroll;
    max-height: 430px;
    padding: 10px;
    margin: 10px 0;
    font-family: inherit;
    background-image: url("/assets/images/2.jpg");
}

/* Scrollbar  */
::-webkit-scrollbar {
    height: 10px;
    }

    ::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ccc;  
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #999;  
    }

/* user input */
#enter_text {
    position: relative;  
    width: 88%;
    border-radius: 3px;
}

#delete-button {
    background-color:rgb(230, 61, 61);
    transition-duration: 0.4s;
    position: relative;
    bottom: 50px;
    left: 10px;
    border: 2px solid rgb(230, 61, 61);
    color: white;
    border-radius: 50%;
    float: right;
    clear: both;
    font-size: 8px;
}

#text-enter-button {
    background-color: #4CAF50;
    transition-duration: 0.4s;
    margin: 5px;
    border: 2px solid #4CAF50;
    color: white;
    border-radius: 3px;
    font-family: inherit; 
    position: relative;
    bottom: 2px;
}

#emojis{
    background-color: Transparent;
    border: none;
    position: relative;
    top: 3px;
}


.icon{ 
    position: relative;
    left: 37%;
    padding-top: 10px;
    
}

/* all rights reserved */
.copy{
    text-align: center;
    color: white;
}









/* ///////// */
/* new stuff */
/* ///////// */


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 5px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    float: left;
    background-color: #f1f1f1;
    min-width: 50px;
    border-radius: 10px;
    border-color:silver;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    border-color:silver
    
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}